.DS_STORE
.env
config/accounts.js

trash

node_modules
coverage
coverage.json
typechain

# # Hardhat files
cache
artifacts

# # OpenZeppelin files
# .openzeppelin/.session

# # Garbages
# __unused
# __olds
